@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --radius: 0px;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0px;
  --background: oklch(0.9537 0.0147 98.2878);
  --foreground: oklch(0.2802 0.0091 97.6657);
  --card: oklch(0.9482 0.0122 96.4259);
  --card-foreground: oklch(0.1913 0 0);
  --popover: oklch(0.9421 0.0069 67.7414);
  --popover-foreground: oklch(0.2843 0.0090 97.6592);
  --primary: oklch(0.6271 0.1648 34.3756);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9137 0.0157 86.4283);
  --secondary-foreground: oklch(0.4097 0.0071 84.5865);
  --muted: oklch(0.9050 0.0121 101.4976);
  --muted-foreground: oklch(0.5732 0.0065 84.5776);
  --accent: oklch(0.9137 0.0157 86.4283);
  --accent-foreground: oklch(0.2843 0.0090 97.6592);
  --destructive: oklch(0.1913 0 0);
  --border: oklch(0.3211 0 0);
  --input: oklch(0.3211 0 0);
  --ring: oklch(0.6326 0.1496 245.9095);
  --chart-1: oklch(0.5691 0.1340 40.0404);
  --chart-2: oklch(0.6801 0.1770 298.6219);
  --chart-3: oklch(0.9029 0.0308 100.9066);
  --chart-4: oklch(0.8781 0.0454 292.3902);
  --chart-5: oklch(0.5625 0.1352 41.1398);
  --sidebar: oklch(0.9421 0.0069 67.7414);
  --sidebar-foreground: oklch(0.2802 0.0091 97.6657);
  --sidebar-primary: oklch(0.6271 0.1648 34.3756);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9137 0.0157 86.4283);
  --sidebar-accent-foreground: oklch(0.3250 0 0);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.3211 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 1;
  --shadow-blur: 0px;
  --shadow-spread: 2px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 2px 0px 2px hsl(0 0% 0% / 0.50);
  --shadow-xs: 2px 2px 0px 2px hsl(0 0% 0% / 0.50);
  --shadow-sm: 2px 2px 0px 2px hsl(0 0% 0% / 1.00), 2px 1px 2px 1px hsl(0 0% 0% / 1.00);
  --shadow: 2px 2px 0px 2px hsl(0 0% 0% / 1.00), 2px 1px 2px 1px hsl(0 0% 0% / 1.00);
  --shadow-md: 2px 2px 0px 2px hsl(0 0% 0% / 1.00), 2px 2px 4px 1px hsl(0 0% 0% / 1.00);
  --shadow-lg: 2px 2px 0px 2px hsl(0 0% 0% / 1.00), 2px 4px 6px 1px hsl(0 0% 0% / 1.00);
  --shadow-xl: 2px 2px 0px 2px hsl(0 0% 0% / 1.00), 2px 8px 10px 1px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 2px 2px 0px 2px hsl(0 0% 0% / 2.50);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2843 0.0090 97.6592);
  --foreground: oklch(0.8179 0.0132 86.8402);
  --card: oklch(0.3477 0.0086 97.5767);
  --card-foreground: oklch(0.9734 0.0029 84.5590);
  --popover: oklch(0.4060 0.0071 84.5867);
  --popover-foreground: oklch(0.9309 0.0042 91.4483);
  --primary: oklch(0.6343 0.1841 18.7421);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9734 0.0029 84.5590);
  --secondary-foreground: oklch(0.2975 0.0093 88.7586);
  --muted: oklch(0.2225 0.0041 84.5879);
  --muted-foreground: oklch(0.7740 0.0196 100.2086);
  --accent: oklch(0.2354 0.0041 84.5865);
  --accent-foreground: oklch(0.9663 0.0080 98.8792);
  --destructive: oklch(0.6378 0.2070 25.5408);
  --border: oklch(0.5693 0 0);
  --input: oklch(0.5693 0 0);
  --ring: oklch(0.5868 0.2167 29.6482);
  --chart-1: oklch(0.5130 0.1678 20.6877);
  --chart-2: oklch(0.6341 0.2314 15.7585);
  --chart-3: oklch(0.2354 0.0041 84.5865);
  --chart-4: oklch(0.2880 0.0775 16.4323);
  --chart-5: oklch(0.5130 0.1678 20.6877);
  --sidebar: oklch(0.3477 0.0086 97.5767);
  --sidebar-foreground: oklch(0.8179 0.0132 86.8402);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.1633 0.0021 106.6254);
  --sidebar-accent-foreground: oklch(0.8179 0.0132 86.8402);
  --sidebar-border: oklch(0.5693 0 0);
  --sidebar-ring: oklch(0.5693 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0px;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 1;
  --shadow-blur: 0px;
  --shadow-spread: 2px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 2px 0px 2px hsl(0 0% 0% / 0.50);
  --shadow-xs: 2px 2px 0px 2px hsl(0 0% 0% / 0.50);
  --shadow-sm: 2px 2px 0px 2px hsl(0 0% 0% / 1.00), 2px 1px 2px 1px hsl(0 0% 0% / 1.00);
  --shadow: 2px 2px 0px 2px hsl(0 0% 0% / 1.00), 2px 1px 2px 1px hsl(0 0% 0% / 1.00);
  --shadow-md: 2px 2px 0px 2px hsl(0 0% 0% / 1.00), 2px 2px 4px 1px hsl(0 0% 0% / 1.00);
  --shadow-lg: 2px 2px 0px 2px hsl(0 0% 0% / 1.00), 2px 4px 6px 1px hsl(0 0% 0% / 1.00);
  --shadow-xl: 2px 2px 0px 2px hsl(0 0% 0% / 1.00), 2px 8px 10px 1px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 2px 2px 0px 2px hsl(0 0% 0% / 2.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}